<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d7989ac1-0a68-4daa-9fba-2396e300884f/resourcegroups/STICKYBOIS20180831121337ResourceGroup/providers/Microsoft.Web/sites/STICKYBOIS</ResourceId>
    <ResourceGroup>STICKYBOIS20180831121337ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://stickybois.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>stickybois.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>STICKYBOIS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$STICKYBOIS</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="STICKYBOIS.Models.StickyBoisContext" Order="1" Enabled="True">
          <Destination Path="Data Source=stickybois.database.windows.net;Initial Catalog=STICKYBOIS;Persist Security Info=True;User ID=cladmin;Password=Moony@la1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="STICKYBOIS.Models.StickyBoisContext, STICKYBOIS" MigrationConfiguration="STICKYBOIS.Migrations.Configuration, STICKYBOIS" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="STICKYBOIS.Models.StickyBoisContext-Web.config Connection String">
      <ParameterValue>Data Source=stickybois.database.windows.net;Initial Catalog=STICKYBOIS;Persist Security Info=True;User ID=cladmin;Password=Moony@la1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="STICKYBOIS.Models.StickyBoisContext" />
  </ItemGroup>
</Project>